body, html {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
}
#root{
    height: 100%;
    user-select: none;
}
.ToolIcon__icon>svg{
    width: 25px;
    height:25px;
}
.vertical-line{
    border-left: 2px solid #f2f2f2;
    height: 30px;
}
.ToolIcon__icon>div>svg{
    width: 25px;
    height:25px;
}
.ToolIcon__keybinding{
    color: rgb(195, 193, 193);

}
.stackHorizontal{
   background-color: white;
   
}

.right{
    justify-content: space-between;
    gap: 10px;
}

.secLeft{
    padding: 6.5px;
}
.excalidraw-app{

}
.fixedSideContainer{
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
}


.ilandAppToolBar{
    border: 0px solid rgb(141, 136, 136);
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.app-menu-left{
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.903);
    padding: 1px;
    color: rgb(0, 0, 0);
    
}
.join{
    background-color: #5b57d1 !important;
    color: white !important;
}
.zoom{
    gap: 10px;
    color: black !important;
}
.veri-color{
    fill: #5b57d1 !important;
    color: #1811ee;
}
.que-icon{
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.903);
    padding: 5px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    font-size: small;
}
  /* Optional: Add a hover effect for the button */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  #bottom-right {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }



  .HintViewer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    padding-top: -50px;

  }


  